*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
            }
 .ludobord
 {
    border: 0.5px solid black;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(15,40px);
    grid-template-rows: repeat(15,40px);
 } 
 .centerbox{
    grid-column: 7/10;
    grid-row: 7/10;
 } 
 .red{
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #f7162d;
    border: 0.5px solid #c50a1c;
   grid-column: 1/7;
   grid-row: 1/7;

 } 
 .row{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap:50px;
 }
 .green{
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #0ac248;
    border: 0.5px solid  #036b26;
    grid-column: 10/16;
    grid-row: 1/7;
 } 
 .step{
    border: 0.5px solid #b3b3b3;
 }
 .blue{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0422c9;
   border: 0.5px solid #027478;
   grid-column:1/7 ;
   grid-row: 10/16;
 }  
 .yellow{
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: yellow;
   border: 0.5px solid yellow;
   grid-column:10/ 16;
   grid-row: 10/16;
 }     